{{!-- Description Partial --}}
<div class="description-section">
  <div class="form-group stacked">
    <label>Description</label>
    <div class="form-fields">
      {{editor system.description target="system.description" button=true owner=owner editable=editable}}
    </div>
  </div>
</div>