{{!-- Weapon Properties Partial --}}
<div class="weapon-properties-section">
  <h3>Weapon Flags</h3>
  <div class="flags-grid">
    {{#each weaponFlags as |flag|}}
    <div class="flag-item">
      <label>
        <input type="checkbox" class="weapon-flag" value="{{flag}}" {{#if (includes ../system.weapon_data.flags flag)}}checked{{/if}}/>
        {{capitalize flag}}
      </label>
    </div>
    {{/each}}
  </div>

  {{!-- Special Properties --}}
  <div class="special-properties">
    <h3>Special Properties</h3>
    <div class="form-group stacked">
      <label>Notes</label>
      <textarea name="system.weapon_data.special" placeholder="Any special properties or notes about this weapon">{{system.weapon_data.special}}</textarea>
    </div>
  </div>
</div>