{{!-- Moves Tab Content - Empty for now --}}
<div class="moves">
  <h3>Moves</h3>
  <div class="moves-placeholder">
    <p><em>Moves system will be implemented here in the future.</em></p>
  </div>
</div>