<section class="moves-container">
  {{!-- Tab Navigation --}}
  <div class="inventory-tabs">
    <button type="button" class="inventory-tab active" data-tab="attacks">
      Attacks
    </button>
    <button type="button" class="inventory-tab" data-tab="actions">
      Actions
    </button>
    <button type="button" class="inventory-tab" data-tab="reactions">
      Reactions
    </button>
  </div>

  {{!-- Attacks Tab Content --}}
  <div class="inventory-tab-content active" data-tab-content="attacks">
    {{> "systems/anyventure/templates/partials/abilities-attacks.hbs"
      header="Weapon Attacks"
    }}
  </div>

  {{!-- Actions Tab Content --}}
  <div class="inventory-tab-content" data-tab-content="actions">
    {{> "systems/anyventure/templates/partials/abilities-list.hbs"
      header="Actions"
      items=actionItems
      abilityType="action"
      clickTitle="Click to use this action"
      emptyMessage="No actions available"
    }}
  </div>

  {{!-- Reactions Tab Content --}}
  <div class="inventory-tab-content" data-tab-content="reactions">
    {{> "systems/anyventure/templates/partials/abilities-list.hbs"
      header="Reactions"
      items=reactionItems
      abilityType="reaction"
      clickTitle="Click to use this reaction"
      emptyMessage="No reactions available"
    }}
  </div>
</section>
