<form class="{{cssClass}} {{item.type}} flexcol" autocomplete="off">

  {{!-- Sheet Header --}}
  {{> "systems/anyventure/templates/partials/items/item-header.hbs"}}

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item active" data-tab="basic">Basic</a>
    <a class="item" data-tab="bonuses">Bonuses</a>
    <a class="item" data-tab="mitigation">Mitigation</a>
    <a class="item" data-tab="special">Special</a>
    <a class="item" data-tab="description">Description</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- Basic Tab --}}
    <div class="tab active" data-group="primary" data-tab="basic">
      {{> "systems/anyventure/templates/partials/items/basic-info.hbs"}}
      {{> "systems/anyventure/templates/partials/items/resource-bonuses.hbs"}}
      
      {{!-- Equipment-specific fields --}}
      <div class="equipment-specific">
        <div class="form-group">
          <label>Equipment Type</label>
          <select name="system.type">
            <option value="gear" {{#if (eq system.type "gear")}}selected{{/if}}>Gear</option>
            <option value="shield" {{#if (eq system.type "shield")}}selected{{/if}}>Shield</option>
            <option value="consumable" {{#if (eq system.type "consumable")}}selected{{/if}}>Consumable</option>
            <option value="container" {{#if (eq system.type "container")}}selected{{/if}}>Container</option>
            <option value="currency" {{#if (eq system.type "currency")}}selected{{/if}}>Currency</option>
          </select>
        </div>
      </div>
    </div>

    {{!-- Bonuses Tab --}}
    <div class="tab" data-group="primary" data-tab="bonuses">
      {{> "systems/anyventure/templates/partials/items/skill-bonuses.hbs"}}
    </div>

    {{!-- Mitigation Tab --}}
    <div class="tab" data-group="primary" data-tab="mitigation">
      {{> "systems/anyventure/templates/partials/items/mitigation.hbs"}}
    </div>

    {{!-- Special Tab --}}
    <div class="tab" data-group="primary" data-tab="special">
      {{> "systems/anyventure/templates/partials/items/special-properties.hbs"}}
    </div>

    {{!-- Description Tab --}}
    <div class="tab" data-group="primary" data-tab="description">
      {{> "systems/anyventure/templates/partials/items/description.hbs"}}
    </div>

  </section>
</form>